MESTrainingAdmin/MESTraining/Web References/daWebService/DataAccessWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckConnectionWS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strConnection" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckConnectionWSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckConnectionWSResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectCommandWS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strConnection" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCommand" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sqlParameters" type="tns:ArrayOfSqlParameter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSqlParameter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SqlParameter" nillable="true" type="tns:SqlParameter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SqlParameter">
        <s:complexContent mixed="false">
          <s:extension base="tns:DbParameter">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CompareInfo" type="tns:SqlCompareOptions" />
              <s:element minOccurs="0" maxOccurs="1" name="XmlSchemaCollectionDatabase" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="XmlSchemaCollectionOwningSchema" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="XmlSchemaCollectionName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" default="false" name="ForceColumnEncryption" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="LocaleId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="SqlDbType" type="tns:SqlDbType" />
              <s:element minOccurs="0" maxOccurs="1" name="SqlValue" />
              <s:element minOccurs="0" maxOccurs="1" name="UdtTypeName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TypeName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Offset" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DbParameter" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:MarshalByRefObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="DbType" type="tns:DbType" />
              <s:element minOccurs="0" maxOccurs="1" default="Input" name="Direction" type="tns:ParameterDirection" />
              <s:element minOccurs="1" maxOccurs="1" name="IsNullable" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" default="" name="ParameterName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Precision" type="s:unsignedByte" />
              <s:element minOccurs="1" maxOccurs="1" name="Scale" type="s:unsignedByte" />
              <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" default="" name="SourceColumn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" default="false" name="SourceColumnNullMapping" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" default="Current" name="SourceVersion" type="tns:DataRowVersion" />
              <s:element minOccurs="0" maxOccurs="1" name="Value" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="MarshalByRefObject" abstract="true" />
      <s:simpleType name="DbType">
        <s:restriction base="s:string">
          <s:enumeration value="AnsiString" />
          <s:enumeration value="Binary" />
          <s:enumeration value="Byte" />
          <s:enumeration value="Boolean" />
          <s:enumeration value="Currency" />
          <s:enumeration value="Date" />
          <s:enumeration value="DateTime" />
          <s:enumeration value="Decimal" />
          <s:enumeration value="Double" />
          <s:enumeration value="Guid" />
          <s:enumeration value="Int16" />
          <s:enumeration value="Int32" />
          <s:enumeration value="Int64" />
          <s:enumeration value="Object" />
          <s:enumeration value="SByte" />
          <s:enumeration value="Single" />
          <s:enumeration value="String" />
          <s:enumeration value="Time" />
          <s:enumeration value="UInt16" />
          <s:enumeration value="UInt32" />
          <s:enumeration value="UInt64" />
          <s:enumeration value="VarNumeric" />
          <s:enumeration value="AnsiStringFixedLength" />
          <s:enumeration value="StringFixedLength" />
          <s:enumeration value="Xml" />
          <s:enumeration value="DateTime2" />
          <s:enumeration value="DateTimeOffset" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ParameterDirection">
        <s:restriction base="s:string">
          <s:enumeration value="Input" />
          <s:enumeration value="Output" />
          <s:enumeration value="InputOutput" />
          <s:enumeration value="ReturnValue" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="DataRowVersion">
        <s:restriction base="s:string">
          <s:enumeration value="Original" />
          <s:enumeration value="Current" />
          <s:enumeration value="Proposed" />
          <s:enumeration value="Default" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="SqlCompareOptions">
        <s:list>
          <s:simpleType>
            <s:restriction base="s:string">
              <s:enumeration value="None" />
              <s:enumeration value="IgnoreCase" />
              <s:enumeration value="IgnoreNonSpace" />
              <s:enumeration value="IgnoreKanaType" />
              <s:enumeration value="IgnoreWidth" />
              <s:enumeration value="BinarySort" />
              <s:enumeration value="BinarySort2" />
            </s:restriction>
          </s:simpleType>
        </s:list>
      </s:simpleType>
      <s:simpleType name="SqlDbType">
        <s:restriction base="s:string">
          <s:enumeration value="BigInt" />
          <s:enumeration value="Binary" />
          <s:enumeration value="Bit" />
          <s:enumeration value="Char" />
          <s:enumeration value="DateTime" />
          <s:enumeration value="Decimal" />
          <s:enumeration value="Float" />
          <s:enumeration value="Image" />
          <s:enumeration value="Int" />
          <s:enumeration value="Money" />
          <s:enumeration value="NChar" />
          <s:enumeration value="NText" />
          <s:enumeration value="NVarChar" />
          <s:enumeration value="Real" />
          <s:enumeration value="UniqueIdentifier" />
          <s:enumeration value="SmallDateTime" />
          <s:enumeration value="SmallInt" />
          <s:enumeration value="SmallMoney" />
          <s:enumeration value="Text" />
          <s:enumeration value="Timestamp" />
          <s:enumeration value="TinyInt" />
          <s:enumeration value="VarBinary" />
          <s:enumeration value="VarChar" />
          <s:enumeration value="Variant" />
          <s:enumeration value="Xml" />
          <s:enumeration value="Udt" />
          <s:enumeration value="Structured" />
          <s:enumeration value="Date" />
          <s:enumeration value="Time" />
          <s:enumeration value="DateTime2" />
          <s:enumeration value="DateTimeOffset" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SelectCommandWSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectCommandWSResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCommandWS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strConnection" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCommand" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sqlParameters" type="tns:ArrayOfSqlParameter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCommandWSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertCommandWSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCommandWS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strConnection" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCommand" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sqlParameters" type="tns:ArrayOfSqlParameter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCommandWSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateCommandWSResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveCommandWS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strConnection" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCommand" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sqlParameters" type="tns:ArrayOfSqlParameter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveCommandWSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveCommandWSResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCommandWS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strConnection" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCommand" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sqlParameters" type="tns:ArrayOfSqlParameter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCommandWSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteCommandWSResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebSyncTableDataUpload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intWebSyncLogID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strSourceSQLServer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSourceDatabase" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMasterConnection" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTableName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsNewOrChanged">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebSyncTableDataUploadResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetFileList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strConnection" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDir" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CheckConnectionWSSoapIn">
    <wsdl:part name="parameters" element="tns:CheckConnectionWS" />
  </wsdl:message>
  <wsdl:message name="CheckConnectionWSSoapOut">
    <wsdl:part name="parameters" element="tns:CheckConnectionWSResponse" />
  </wsdl:message>
  <wsdl:message name="SelectCommandWSSoapIn">
    <wsdl:part name="parameters" element="tns:SelectCommandWS" />
  </wsdl:message>
  <wsdl:message name="SelectCommandWSSoapOut">
    <wsdl:part name="parameters" element="tns:SelectCommandWSResponse" />
  </wsdl:message>
  <wsdl:message name="InsertCommandWSSoapIn">
    <wsdl:part name="parameters" element="tns:InsertCommandWS" />
  </wsdl:message>
  <wsdl:message name="InsertCommandWSSoapOut">
    <wsdl:part name="parameters" element="tns:InsertCommandWSResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCommandWSSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCommandWS" />
  </wsdl:message>
  <wsdl:message name="UpdateCommandWSSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCommandWSResponse" />
  </wsdl:message>
  <wsdl:message name="SaveCommandWSSoapIn">
    <wsdl:part name="parameters" element="tns:SaveCommandWS" />
  </wsdl:message>
  <wsdl:message name="SaveCommandWSSoapOut">
    <wsdl:part name="parameters" element="tns:SaveCommandWSResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCommandWSSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCommandWS" />
  </wsdl:message>
  <wsdl:message name="DeleteCommandWSSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCommandWSResponse" />
  </wsdl:message>
  <wsdl:message name="WebSyncTableDataUploadSoapIn">
    <wsdl:part name="parameters" element="tns:WebSyncTableDataUpload" />
  </wsdl:message>
  <wsdl:message name="WebSyncTableDataUploadSoapOut">
    <wsdl:part name="parameters" element="tns:WebSyncTableDataUploadResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileListSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileList" />
  </wsdl:message>
  <wsdl:message name="GetFileListSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileListResponse" />
  </wsdl:message>
  <wsdl:portType name="DataAccessWSSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckConnectionWS">
      <wsdl:input message="tns:CheckConnectionWSSoapIn" />
      <wsdl:output message="tns:CheckConnectionWSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectCommandWS">
      <wsdl:input message="tns:SelectCommandWSSoapIn" />
      <wsdl:output message="tns:SelectCommandWSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertCommandWS">
      <wsdl:input message="tns:InsertCommandWSSoapIn" />
      <wsdl:output message="tns:InsertCommandWSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCommandWS">
      <wsdl:input message="tns:UpdateCommandWSSoapIn" />
      <wsdl:output message="tns:UpdateCommandWSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveCommandWS">
      <wsdl:input message="tns:SaveCommandWSSoapIn" />
      <wsdl:output message="tns:SaveCommandWSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCommandWS">
      <wsdl:input message="tns:DeleteCommandWSSoapIn" />
      <wsdl:output message="tns:DeleteCommandWSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebSyncTableDataUpload">
      <wsdl:input message="tns:WebSyncTableDataUploadSoapIn" />
      <wsdl:output message="tns:WebSyncTableDataUploadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileList">
      <wsdl:input message="tns:GetFileListSoapIn" />
      <wsdl:output message="tns:GetFileListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataAccessWSSoap" type="tns:DataAccessWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckConnectionWS">
      <soap:operation soapAction="http://tempuri.org/CheckConnectionWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCommandWS">
      <soap:operation soapAction="http://tempuri.org/SelectCommandWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCommandWS">
      <soap:operation soapAction="http://tempuri.org/InsertCommandWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCommandWS">
      <soap:operation soapAction="http://tempuri.org/UpdateCommandWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCommandWS">
      <soap:operation soapAction="http://tempuri.org/SaveCommandWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCommandWS">
      <soap:operation soapAction="http://tempuri.org/DeleteCommandWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebSyncTableDataUpload">
      <soap:operation soapAction="http://tempuri.org/WebSyncTableDataUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileList">
      <soap:operation soapAction="http://tempuri.org/GetFileList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataAccessWSSoap12" type="tns:DataAccessWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckConnectionWS">
      <soap12:operation soapAction="http://tempuri.org/CheckConnectionWS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCommandWS">
      <soap12:operation soapAction="http://tempuri.org/SelectCommandWS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCommandWS">
      <soap12:operation soapAction="http://tempuri.org/InsertCommandWS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCommandWS">
      <soap12:operation soapAction="http://tempuri.org/UpdateCommandWS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCommandWS">
      <soap12:operation soapAction="http://tempuri.org/SaveCommandWS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCommandWS">
      <soap12:operation soapAction="http://tempuri.org/DeleteCommandWS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebSyncTableDataUpload">
      <soap12:operation soapAction="http://tempuri.org/WebSyncTableDataUpload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileList">
      <soap12:operation soapAction="http://tempuri.org/GetFileList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataAccessWS">
    <wsdl:port name="DataAccessWSSoap" binding="tns:DataAccessWSSoap">
      <soap:address location="https://gis.menv.com/MES/DataAccessWS/DataAccessWS.asmx" />
    </wsdl:port>
    <wsdl:port name="DataAccessWSSoap12" binding="tns:DataAccessWSSoap12">
      <soap12:address location="https://gis.menv.com/MES/DataAccessWS/DataAccessWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>